---
import ExternalLink from "../../../assets/icons/ExternalLink.astro";
import Github from "../../../assets/icons/Github.astro";

interface Props {
  liveLink?: string;
  sourceLink?: string;
}

const { liveLink, sourceLink } = Astro.props;
---

<div class="mb-20 flex items-center gap-6 text-sm md:text-base">
  {
    !!liveLink && (
      <a href={liveLink}>
        <button
          role="link"
          class="flex items-center gap-2 rounded-md bg-zinc-700 px-4 py-2 tracking-wide text-gray-300/80  transition-all hover:-translate-y-1 hover:bg-zinc-600 hover:text-white dark:bg-zinc-800 dark:text-gray-400 dark:hover:bg-zinc-700"
        >
          <ExternalLink class="h-5 w-5" />
          Live
        </button>
      </a>
    )
  }
  {
    !!sourceLink && (
      <a href={sourceLink}>
        <button
          role="link"
          class="flex items-center gap-2 rounded-md bg-zinc-700 px-4 py-2 tracking-wide text-gray-300/80  transition-all hover:-translate-y-1 hover:bg-zinc-600 hover:text-white dark:bg-zinc-800 dark:text-gray-400 dark:hover:bg-zinc-700"
        >
          <Github class="h-5 w-5" />
          Source
        </button>
      </a>
    )
  }
</div>
