---
import WavingHand from "../../assets/icons/WavingHand.astro";
import HeaderText from "../../components/HeaderText.astro";
import MainContainer from "../../components/MainContainer.astro";
import TitleText from "../../components/TitleText.astro";
import { CardHoverEffectDemo } from "./Cards.tsx";
---

<MainContainer>
  <div class="flex flex-col gap-5 pb-10 md:pb-0">
    <TitleText> Hi there, </TitleText>
    <HeaderText>
      I'm a Front-End Web Developer <WavingHand class="ml-1 inline-flex" />
    </HeaderText>
    <p class="max-w-[90%] text-sm tracking-wide text-gray-400 md:text-base">
      I build well-crafted websites. With years of experience, I can help you
      make your ideas come to life.
    </p>
    <CardHoverEffectDemo client:load />
  </div>
</MainContainer>
