---
import WavingHand from "../../assets/icons/WavingHand.astro";
import HeaderText from "../../components/HeaderText.astro";
import MainContainer from "../../components/MainContainer.astro";
import TitleText from "../../components/TitleText.astro";
import { CardHoverEffectDemo } from "./Cards.tsx";
---

<MainContainer>
  <div class="flex flex-col gap-5 pb-10 md:pb-0">
    <TitleText> Hi there, </TitleText>
    <HeaderText>
      I'm Christian Anunciado <WavingHand class="ml-1 inline-flex" />
    </HeaderText>
    <p
      class="max-w-3xl text-sm tracking-wide text-gray-400 md:text-base"
      transition:name="descriptionText"
    >
      I build well-crafted websites that look good and work well. With years of
      experience, I can help you make your ideas come to life.
    </p>
    <a href="/projects#projects">
      <button
        class="w-fit rounded-md bg-sky-800 px-5 py-2.5 text-sm text-gray-200 transition-all hover:-translate-y-1 hover:bg-sky-700 hover:text-white md:text-base"
        role="link"
      >
        See my Work
      </button>
    </a>
    <CardHoverEffectDemo transition:name="objectTest" client:load />
  </div>
</MainContainer>
