<div class="flex items-center gap-5">
  <a href="/projects" class="hidden w-fit">
    <button
      class="w-fit rounded-md border border-sky-800 bg-transparent px-5 py-2.5 text-sm text-sky-800 transition-all hover:-translate-y-1 hover:bg-sky-600 hover:text-white md:text-base dark:border-gray-300 dark:text-gray-200 dark:hover:bg-sky-700"
      role="link"
      transition:name="project-header"
    >
      Resume
    </button>
  </a>
  <a href="/projects" class="w-fit">
    <button
      class="w-fit rounded-md bg-sky-700 px-5 py-2.5 text-sm text-gray-50 transition-all hover:-translate-y-1 hover:bg-sky-600 hover:text-white md:text-base dark:bg-sky-800 dark:text-gray-200 dark:hover:bg-sky-700"
      role="link"
      transition:name="project-header"
    >
      See my Work
    </button>
  </a>
</div>
