---
import BentoGrid from "../../components/BentoGrid.astro";
import BentoGridItem from "../../components/BentoGridItem.astro";
import { projects } from "../../features/projects/projects";
---

<BentoGrid className="mx-auto max-w-5xl pb-10">
  <span
    class="mb-5 scroll-my-32 self-start text-3xl font-bold tracking-wide text-sky-500 md:col-span-3 md:scroll-my-16 md:text-4xl"
    id="projects"
  >
    Projects
  </span>
  {
    projects.map((item, i) => (
      <BentoGridItem
        title={item.title}
        description={item.subTitle}
        projectImg={item.projectImg}
        className={i === 3 || i === 6 ? "md:col-span-2" : ""}
        href={item.href}
      />
    ))
  }
</BentoGrid>
