---
import Technology from "./Technology.tsx";
---

<div
  class="mt-2 flex max-w-3xl flex-col gap-5 text-sm leading-7 tracking-wide text-gray-400 md:text-base"
>
  <p>
    With
    <span class="mx-0.5 font-bold tracking-widest text-white">
      years of experience in software development,
    </span>I have a well-rounded skill set that covers all aspects of the
    development lifecycle, from front-end to back-end programming.
  </p>
  <p>
    Having a solid foundation in programming and design principles, I specialize
    in creating intuitive applications with both flawless functionality and
    visually appealing interfaces.
  </p>
  <p>
    I take pride on crafting clean, efficient, and maintainable code, thriving
    on challenging projects that push me to grow.
  </p>
  <Technology client:load />
</div>
