---
interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
---

<h3
  class="mb-2 mt-2 font-sans font-bold text-neutral-600 dark:text-neutral-200"
  transition:name={`${title}-project-title`}
>
  {title}
</h3>
<div
  class="font-sans text-xs font-normal text-neutral-600 dark:text-neutral-300"
  transition:name={`${description}-project-desc`}
>
  {description}
</div>
