---
import HeaderText from "./HeaderText.astro";

interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
---

<HeaderText
  className="mb-3 text-base text-neutral-200 md:text-base"
  transitionName={`${title}-titleText`}
>
  {title}
</HeaderText>
<div
  class="font-sans text-xs font-normal text-neutral-600 dark:text-neutral-300"
  transition:name={`${title}-descText`}
>
  {description}
</div>
