---
import HeaderText from "../components/HeaderText.astro";
---

<div class="relative left-0 top-0 mx-auto w-full max-w-7xl p-20 md:p-40">
  <HeaderText className="text-white">
    Featured <br /> works <span class="text-sky-500">/ projects</span>
  </HeaderText>
  <p
    class="mt-8 max-w-2xl text-sm leading-9 tracking-wide text-white md:text-base"
  >
    These are the amazing products that I have worked on the past few years.
    <br /> Check them out below to see what I'm up to, and get in touch if you want
    to collaborate!
  </p>
</div>
