---
interface Props {
  className?: string;
}

const { className } = Astro.props;
import { cn } from "../shared/cn";
---

<div
  class={cn(
    "flex h-[calc(100%-30px)] w-full items-start justify-center p-14 md:items-center",
    className,
  )}
>
  <slot />
</div>
