---
interface Props {
  className?: string;
}

const { className } = Astro.props;
import { cn } from "../shared/cn";
---

<span class={cn("text-lg font-medium tracking-widest text-sky-500", className)}>
  <slot />
</span>
