---
import "@fontsource/geist-sans";
import LeftNavbar from "../components/nav/LeftNavbar.astro";
import { ViewTransitions } from "astro:transitions";
import CurrentTimeHeader from "../components/current-time-header.tsx";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="flex h-[100svh] bg-gradient-to-b from-zinc-800 to-zinc-950 text-slate-200"
  >
    <LeftNavbar />
    <main class="bg-dot-black/[0.8] h-[calc(100%-30px)] w-full">
      <CurrentTimeHeader client:load />
      <slot class="p-14" />
    </main>
  </body>
</html>
