---
import "@fontsource/geist-sans";
import { SEO } from "astro-seo";
import { ViewTransitions } from "astro:transitions";
import OgImage from "../../public/og_image.jpg";
import LeftNavbar from "../components/nav/LeftNavbar.astro";
import MobileNav from "../components/nav/MobileNav.astro";
import CurrentTimeHeader from "../components/tsx/current-time-header";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title="Christian Anunciado | Web Developer"
      description="I build well-crafted websites that look good and work well."
      openGraph={{
        basic: {
          title: "Christian Anunciado | Web Developer",
          image: OgImage.src,
          type: "website",
        },
        optional: {
          description:
            "I build well-crafted websites that look good and work well.",
        },
      }}
    />

    <ViewTransitions />

    <script is:inline>
      function setDarkMode(document) {
        const parent = document.documentElement;

        console.log(
          "🚀 ~ file: Layout.astro:18 ~ localStorage:",
          localStorage.theme,
        );

        if (localStorage.theme === undefined) {
          let theme = window.matchMedia("(prefers-color-scheme: dark)")
            ? "dark"
            : "light";

          localStorage.setItem("theme", theme);
        }

        if (localStorage.theme === "dark") {
          parent.classList.add("dark");
        }

        if (localStorage.theme === "light") {
          parent.classList.remove("dark");
        }
      }

      setDarkMode(document);

      document.addEventListener("astro:before-swap", (ev) => {
        // Pass the incoming document to set the theme on it
        setDarkMode(ev.newDocument);
      });
    </script>

    <style is:global>
      *,
      body {
        transition: all 0.3s ease-out;
        transition-property: background-color, color;
      }
      .icon {
        transition: none !important;
        -moz-transition: none !important;
        -webkit-transition: none !important;
        -o-transition: none !important;
      }
    </style></head
  >

  <body
    class="flex h-screen flex-col bg-gradient-to-b from-zinc-50 to-zinc-300 text-slate-200 md:flex-row dark:bg-gradient-to-b dark:from-zinc-800 dark:to-zinc-900"
  >
    <LeftNavbar />
    <main
      class="relative h-[100svh] w-full overflow-y-auto bg-dot-black/15 dark:bg-dot-black/[0.8]"
    >
      <CurrentTimeHeader client:load />
      <MobileNav />

      <slot />
    </main>
  </body>
</html>
