---
import "@fontsource/geist-sans";
import { ViewTransitions } from "astro:transitions";
import CurrentTimeHeader from "../components/current-time-header.tsx";
import LeftNavbar from "../components/nav/LeftNavbar.astro";
import MobileNav from "../components/nav/MobileNav.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="flex h-[100svh] flex-col bg-gradient-to-b from-zinc-800 to-zinc-900 text-slate-200 md:flex-row"
  >
    <LeftNavbar />
    <main class="relative h-full w-full overflow-y-auto bg-dot-black/[0.8]">
      <CurrentTimeHeader client:load />
      <MobileNav />

      <slot />
    </main>
  </body>
</html>
