---
import "@fontsource/geist-sans";
import { ViewTransitions } from "astro:transitions";
import OgImage from "../assets/images/og_image.jpg";
import LeftNavbar from "../components/nav/LeftNavbar.astro";
import MobileNav from "../components/nav/MobileNav.astro";
import CurrentTimeHeader from "../components/tsx/current-time-header";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <!-- HTML Meta Tags -->
    <title>Christian Anunciado | Web Developer</title>
    <meta
      name="description"
      content="I build well-crafted websites that look good and work well."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Christian Anunciado | Web Developer" />
    <meta
      property="og:description"
      content="I build well-crafted websites that look good and work well."
    />
    <meta property="og:image" content={OgImage.src} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Christian Anunciado | Web Developer" />
    <meta
      name="twitter:description"
      content="I build well-crafted websites that look good and work well."
    />
    <meta name="twitter:image" content={OgImage.src} />

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
    <ViewTransitions />
  </head>
  <body
    class="flex h-screen flex-col bg-gradient-to-b from-zinc-800 to-zinc-900 text-slate-200 md:flex-row"
  >
    <LeftNavbar transition:persist />
    <main class="relative h-[100svh] w-full overflow-y-auto bg-dot-black/[0.8]">
      <CurrentTimeHeader client:load />
      <MobileNav />

      <slot />
    </main>
  </body>
</html>
