---
import Avatar from "../Avatar.astro";
import NavLinks from "../nav/NavLinks.astro";
import BottomNav from "./BottomNav.astro";
---

<nav
  class="sticky left-0 top-0 hidden max-w-md flex-col bg-zinc-950 px-24 py-14 md:flex"
  transition:persist
>
  <div class="flex flex-col items-center">
    <Avatar transition:persist />
    <a href="/" class="flex flex-col items-center">
      <h1 class="text-2xl font-bold tracking-wide">Christian.dev</h1>
      <p class="text-sm font-light text-slate-300">Web Developer</p>
    </a>
  </div>
  <NavLinks />
  <BottomNav />
</nav>
