---
import Avatar from "../Avatar.astro";
import NavLinks from "../nav/NavLinks.astro";
import BottomNav from "./BottomNav.astro";
---

<nav
  class="fixed left-0 top-0 flex h-[100svh] max-w-md flex-col bg-zinc-950 px-24 py-14"
>
  <div class="flex flex-col items-center">
    <Avatar />
    <h1 class="text-2xl font-bold tracking-wide">Christian.dev</h1>
    <p class="text-sm font-light text-slate-300">Web Developer</p>
  </div>
  <NavLinks />
  <BottomNav />
</nav>
