---
import Hamburger from "./hamburger";
---

<nav
  class="sticky left-0 top-[1.75rem] z-50 flex w-full items-center justify-between bg-gradient-to-b from-zinc-800 to-zinc-900 px-6 py-4 shadow-md md:hidden"
>
  <h1 class="text-lg font-bold">Christian.dev</h1>
  <Hamburger client:load />
</nav>
